@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

.landing {
    z-index: 100;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $main-color;
    color: #fff;
    font-size: 1.5rem;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);

    &__header {
        font-family: 'Inter';
        font-weight: 300;
        margin: 0.5rem;

        &-name {
            color: $secondary-color;
            font-family: 'Inter';
            font-weight: 600;
        }
    }

    &__description {
        font-family: 'Inter';
        font-weight: 600;
        margin: 0.5rem;
    }

    &__button {
        color: $secondary-color;
        font-size: 16px;
        border: 3px solid $secondary-color;
        padding: 1.25rem 2rem;
        font-family: 'Inter';
        font-weight: 700;
        text-align: center;
        border-radius: 1rem;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: color 0.4s ease, transform 0.1s;
        background-color: transparent;
        margin-top: 2rem;
        box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
        text-decoration: none;

        span {
            position: absolute;
            width: 25%;
            height: 100%;
            background-color: $secondary-color;
            transform: translateY(150%);
            border-radius: 3px;
            left: calc((var(--n) - 1) * 25%);
            transition: 0.2s;
            transition-delay: calc((var(--n) - 1) * 0.1s);
            z-index: -1;

            &:nth-child(1) {
                --n: 1;
            }
            &:nth-child(2) {
                --n: 2;
            }
            &:nth-child(3) {
                --n: 3;
            }
            &:nth-child(4) {
                --n: 4;
            }
        }

        &:hover {
            color: $main-color;

            span {
                transform: translateY(0) scale(2);
            }
        }

        &:active {
            transform: translateY(3px);
            box-shadow: 5px 3px 3px rgba(0,0,0,0.2);
        }
        
    }
}

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

