.contact {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.7s ease-in-out;

    &__heading1 {
        position: relative;
        align-self: flex-end;
        color: $secondary-color;
        opacity: 1.5;
        font-family: "Inter";
        font-size: 8rem;
        z-index: 1;
        margin-top: 8vh;
        margin-right: 7vw;
        user-select: none;

        @media only screen and (min-height: 1000px) and (min-width: 1200px) {
            margin-top: 6vh;
        }

        @include respond(phone) {
            text-align: center;
            font-size: 6rem;
        }
    }

    &__heading2 {
        position: absolute;
        align-self: flex-end;
        font-size: 30rem;
        opacity: 0.2;
        z-index: 1;
        margin-top: -12vh;
        color: $secondary-color;
        font-family: "Inter";
        user-select: none;

        @media only screen and (min-height: 1000px) and (min-width: 1200px) {
            margin-top: -9vh;
        }

        @include respond(phone) {
            text-align: center;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        gap: 1.5rem;
        width: 45%;
    }

    &__heading {
        font-family: "Inter";
        color: $secondary-color;
        align-self: center;
        font-size: 2rem;
        text-align: center;
    }

    &__name {
        input {
            padding: 1rem 2rem;
            font-family: "Inter";
            outline: none;
            border: none;
            background: $tertiary-color;
            opacity: 0.8;
            border-bottom: 4px solid transparent;
            color: $secondary-color;

            &::placeholder {
                color: $secondary-color;
            }

            &:focus {
                border-bottom: 4px solid $secondary-color;
            }
        }
    }

    &__email {
        input {
            padding: 1rem 2rem;
            font-family: "Inter";
            outline: none;
            border: none;
            background: $tertiary-color;
            opacity: 0.8;
            border-bottom: 4px solid transparent;
            color: $secondary-color;

            &::placeholder {
                color: $secondary-color;
            }

            &:focus {
                border-bottom: 4px solid $secondary-color;
            }
        }
    }

    &__message {
        textarea {
            padding: 1rem 2rem;
            font-family: "Inter";
            outline: none;
            border: 4px solid transparent;
            background: $tertiary-color;
            opacity: 0.8;
            color: $secondary-color;
            resize: none;

            &::placeholder {
                color: $secondary-color;
            }

            &:focus {
                border: 4px solid $secondary-color;
            }
        }
    }

    &__submit {
        padding: 1.25rem 2rem;
        border-radius: 2.5rem;
        border: 3px solid $secondary-color;
        background: transparent;
        color: $secondary-color;
        font-family: "Inter";
        font-weight: 500;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: color 0.2s ease-in, transform 0.1s ease;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 105%;
            height: 100%;
            background: $secondary-color;
            transform: translateX(-100%);
            transition: all 0.2s ease-in;
            z-index: -1;
        }

        &:hover::before {
            transform: translateX(0);
        }

        &:active {
            transform: translateY(2px);
            box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
        }

        &:hover {
            color: $main-color;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
        }
    }
}

.wrapper {
    width: 80%;
    height: 60%;
    border: 3px solid $secondary-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../../Assets/landscape.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;

    @include respond(tab-port) {
        background-color: $main-color;
        background-image: none;
        justify-content: center;
    }

    @media only screen and (max-height: 700px) {
        height: 70%;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 55%;
        height: 100%;
        background: $main-color;
        opacity: 0.8;
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
        z-index: 0;
    }

    span {
        position: absolute;
        top: 0;
        right: 0;
        width: 58.8%;
        height: 100%;
        background: $main-color;
        opacity: 0.8;
        clip-path: polygon(23.4% 0, 100% 0, 100% 100%, 0 100%);
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
        font-family: "Inter";
        font-weight: 500;
        color: $secondary-color;
        transition: all 0.25s ease;

        h2 {
            width: 50%;
            color: $secondary-color;
        }

        @include respond(tab-port) {
            position: absolute;
            clip-path: none;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10%;
            font-size: 1rem;
        }
    }
}
