.header {
    display: flex;
    width: 100%;
    height: 10vh !important;
    align-items: center;
    justify-content: space-between;
    background-color: $main-color;
    z-index: 10000;
    font-family: "Inter";
    position: sticky !important;
    top: 0;
    align-self: flex-start;
    height: auto;
    padding: 1.5rem;

    #navigation {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        // padding: 1rem 2rem;
        overflow: hidden;
        z-index: 10001;
        // margin-top: 2rem;
        // margin-right: 2rem;
    }

    &__logo {
        // margin-top: 2rem;
        // margin-left: 2rem;

        img {
            width: 2.93 * 2rem;
            height: 6rem;
            transform: scale(0.8);
            transition: all 0.2s ease-out;
        }

        &:hover {
            img {
                filter: brightness(0) saturate(100%) invert(60%) sepia(57%)
                    saturate(1276%) hue-rotate(325deg) brightness(101%)
                    contrast(102%);
            }
        }
    }

    &__hamburger.clicked {
        .line {
            &:nth-child(1) {
                position: absolute;
                top: 50%;
                transform: rotate(-135deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                position: absolute;
                top: 50%;
                transform: rotate(135deg);
            }
        }
    }

    &__hamburger {
        border-radius: 50%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.7rem;
        position: relative;
        cursor: pointer;

        .line {
            width: 30px;
            height: 2px;
            background: $base-color;
            transition: all 0.3s ease-out;
        }

        &:hover > .line {
            background-color: $secondary-color;
        }
    }

    &__buttons.open {
        transform: translateX(0) scale(1);
    }

    &__buttons {
        padding: 1rem 2rem;
        display: flex;
        gap: 2rem;
        transform: translateX(60%) scale(0.01);
        transition: all 0.3s ease-out;

        @include respond(tab-port) {
            gap: 1.5rem;
            padding: 1rem 2rem;
        }

        @include respond(phone) {
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }

        a {
            padding: 1.25rem 2.5rem;
            font-size: 1.5rem;
            text-decoration: none;
            color: $base-color;
            font-weight: 500;
            position: relative;
            overflow: hidden;
            transition: all 0.5s ease-in, color 0.5s ease-in;
            cursor: pointer;

            @include respond(phone) {
                padding: 0.5rem 1rem;
            }

            .span1 {
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                background-color: $secondary-color;
                transform: translateY(250%);
                transition: all 0.3s ease-in 0.15s;
                z-index: -1;
            }

            .span2 {
                position: absolute;
                top: 0;
                left: 50%;
                width: 50%;
                height: 100%;
                background-color: $secondary-color;
                transform: translateY(-250%);
                transition: all 0.3s ease-in 0.15s;
                z-index: -1;
            }

            &:hover {
                color: $main-color;
                font-weight: 700;

                span {
                    transform: translateY(0);
                    // border-radius: 5px;

                    &:nth-child(1) {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }

                    &:nth-child(2) {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                border-bottom: 2px solid #ff7f51;
                border-left: 2px solid #ff7f51;
                width: 1%;
                border-radius: 0px;
                height: 1%;
                top: 100%;
                left: 0;
                transform: translateX(25%) translateY(65%) scaleX(1);
                transform-origin: top left;
                transition: all 0.25s ease-out;
                opacity: 1;
            }

            &:hover::before {
                border-top: 4px solid #ff7f51;
                border-right: 4px solid #ff7f51;
                border-bottom: none;
                border-left: none;
                border-radius: 5px;
                width: 70%;
                height: 50%;
                top: 50%;
                left: 50%;
                transform: translateX(-35%) translateY(-85%) scaleX(1);
                transform-origin: bottom left;
            }

            &:hover::after {
                border-bottom: 4px solid #ff7f51;
                border-left: 4px solid #ff7f51;
                border-top: none;
                border-right: none;
                width: 70%;
                border-radius: 5px;
                height: 50%;
                top: 50%;
                left: 50%;
                transform: translateX(-65%) translateY(-15%) scaleX(1);
                transform-origin: bottom left;
            }

            &::after {
                content: "";
                position: absolute;
                border-top: 2px solid #ff7f51;
                border-right: 2px solid #ff7f51;
                border-radius: 0px;
                width: 1%;
                height: 1%;
                top: 120%;
                right: 5%;
                transform: translateX(135%) translateY(-165%) scaleX(1);
                transform-origin: bottom left;
                transition: all 0.25s ease-out;
            }
        }
    }
}

html,
body {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tg-list {
    text-align: center;
    display: flex;
    align-items: center;
}

.tg-list-item {
    margin: 0 2em;
}

h2 {
    color: #777;
}

h4 {
    color: #999;
}

.tgl {
    display: none;

    // add default box-sizing for this scope
    &,
    &:after,
    &:before,
    & *,
    & *:after,
    & *:before,
    & + .tgl-btn {
        box-sizing: border-box;
        &::selection {
            background: none;
        }
    }

    + .tgl-btn {
        outline: 0;
        display: block;
        width: 5em;
        height: 2em;
        position: relative;
        cursor: pointer;
        user-select: none;
        &:after,
        &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
        }

        &:after {
            left: 0;
        }

        &:before {
            display: none;
        }
    }

    &:checked + .tgl-btn:after {
        left: 50%;
    }
}

.tgl-skewed {
    + .tgl-btn {
        overflow: hidden;
        transform: skew(-10deg);
        backface-visibility: hidden;
        transition: all 0.2s ease;
        font-family: sans-serif;
        background: #888;
        &:after,
        &:before {
            transform: skew(10deg);
            display: inline-block;
            transition: all 0.2s ease;
            width: 100%;
            text-align: center;
            position: absolute;
            line-height: 2em;
            font-weight: bold;
            color: #fff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        }

        &:after {
            left: 100%;
            content: attr(data-tg-on);
        }

        &:before {
            left: 0;
            content: attr(data-tg-off);
        }

        &:active {
            background: #888;
            &:before {
                left: -10%;
            }
        }
    }

    &:checked + .tgl-btn {
        background: #86d993;
        &:before {
            left: -100%;
        }

        &:after {
            left: 0;
        }

        &:active:after {
            left: 10%;
        }
    }
}
