.projects {
    position: relative;
    height: fit-content;
    width: 100%;
    background-color: $quaternary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter";
    z-index: 0;

    @include respond(tab-port) {
        gap: 5rem;
    }

    &__heading1 {
        position: relative;
        align-self: flex-start;
        margin-top: 8vh;
        margin-left: 10vw;
        color: $tertiary-color;
        opacity: 1.5;
        font-family: "Inter";
        font-size: 8rem;
        z-index: 1;
        user-select: none;

        @media only screen and (min-height: 1000px) and (min-width: 1200px) {
            margin-top: 6vh;
        }
    }

    &__heading2 {
        position: absolute;
        align-self: flex-start;
        font-size: 30rem;
        opacity: 0.2;
        z-index: 1;
        margin-top: -12vh;
        color: $tertiary-color;
        font-family: "Inter";
        user-select: none;

        @media only screen and (min-height: 1000px) and (min-width: 1200px) {
            margin-top: -9vh;
        }

        @media only screen and (max-height: 640px) {
            margin-top: -15vh;
        }
    }

    &__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        width: 100%;
        height: 100%;
        padding: 8rem;
        grid-gap: 3rem 6rem;
        margin-top: -5rem;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
        }

        @include respond(phone) {
            padding: 4rem;
            gap: 5rem;
            justify-content: space-between;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .projects {
        height: 250vh;
    }
}

@media only screen and (max-height: 700) {
    .projects {
        height: 250vh;
    }
}
